<div class="container-fluid" id="voting">

    Author: ~ <span id="yourname"> {{ quote.author }} </span>

    <button type="button" class="btn btn-outline-primary" id="ubutton" (click)='upVote()'> Up Vote <i  class="fa fa-thumbs-up">{{quote.upvotes}}</i> </button>

    <button type="button" class="btn btn-outline-danger" id="dbutton" (click)='downVote()'> Down Vote <i class="fa fa-thumbs-down"></i> {{ quote.downvotes}} </button>

    <button (click)='quoteDelete(true)' class="btn btn-sm btn-danger" id="del_btn">Delete<i class="fa fa-trash-o"></i></button>

</div>
