
<div class="container">
   
   <h4>Brilliant Quotes</h4>

   <div class="row">
       <div class="col-md-6">
           <div *ngFor='let quote of Quotes, let i = index;'>
               <div class="card" >
                  
                   <div >
                       <div class="row">
                           <div class="col-md-6">
                               <h5 id={{i}}>{{quote.quote}}</h5>
                               Quote Posted <span >{{ quote.postDate|date }} days </span>ago.
                           </div>
                           <div class="col-md-6">
                               <button class="btn btn-primary" id="vote" (click)='toggleDetails(i)'>See More</button>
                           </div>
                       </div>
                   </div>

                   <div >
                       <div appHighlight> {{quote.description }} </div>
                       <div class="voter">
                       </div>
                       <div id="yourname1">
                           Posted by: ~ <span id="yourname"> {{ quote.yourname}} </span> On:~ <span> {{quote.postDate | date}} </span>
                           <div id="author">
                               <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isSeen)='deleteQuote($event,i)'>
                               </app-quote-detail>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-md-6" id="quoteform">
           <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
       </div>
   </div>
</div>












<!-- <h1>My Quotes</h1>
<ul *ngFor= "let quote of Quotes">

 <div *ngIf ="quote.upvotes == highest && quote.upvotes>0; then highlight else empty"></div>
     
     <ng-template #highlight> 
        <li appHighlight>{{quote.quote}}<span class="text-primary ml-2 ">Author: {{quote.author}} </span> <span>Upvotes: {{quote.upvotes}}</span> <span class="text-warning ml-3">Downvotes: {{quote.downvotes}}</span></li>
     </ng-template>
     
     <ng-template #empty>
        <li> {{quote.quote}} <span class="text-primary ml-2 ">Auther: {{quote.author}} </span> <span>Upvotes: {{quote.upvotes}}</span> <span class="text-warning ml-3">Downvotes: {{quote.downvotes}}</span></li>

     </ng-template>
 
</ul> -->

