/* You can add global styles to this file, and also import other style files */
.home {
    background-image: url("./assets/nature.jpg");
    background-size:auto;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 0px;
    margin-top: 0px;
}
